table{
    border-collapse: collapse;
    width : 50%
}
th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
button{
    padding :5px  10px;
    cursor: pointer;
}
input {
    padding: 5px;
    width: 200px;
}

