body {
    background-color: #fff8c6; /* màu vàng nhạt */
    font-family: Arial, sans-serif;
}

fieldset {
    width: 400px;
    margin: 50px auto;
    background-color: #fff9cc;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 20px;
}

legend {
    font-weight: bold;
    font-size: 18px;
}

input[type="text"],
input[type="date"],
input[type="email"],
select {
    width: 100%;
    padding: 6px;
    margin: 5px 0;
    border: 1px solid gray;
    border-radius: 4px;
}

input[type="radio"] {
    margin-left: 10px;
}

button,
input[type="submit"],
input[type="reset"] {
    margin-top: 10px;
    padding: 6px 15px;
    border: 1px solid gray;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #ddd;
}
